# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Env
.env

# SQLite database
src/database/*.sqlite
src/database/*.sqlite-journal

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
